/* webpage initialisation */
	* {
		margin: 0;
		padding: 0;
	}
	a {
		color: #ffffff;
		text-decoration:none;
	}
	a:hover {
		color: #00aeff;
		transition: .1s;
	}
	body {
		background: #23323C;
		font-family: Quicksand, Arial, sans-serif;
	}
	
	/* text effects*/
	
	/* misc */
	.pulsusplaylogo {
		max-width: 6%;
	}
	.pulsusplaylogo:hover {
		transform: scale(0.8);
		transition: .1s;
	}
	.navbar {
		background-color: #14232D;
		line-height: 6%;
		
		
	}
	.header_element {
		line-height: 6%;
		vertical-align: middle;
		padding-right: 3%;
		font-size: 1.5em;
	}
	.profilelogin {
		align: right;
	}
